body {
    margin: 0px;
}

.header {
    height: 20px;
    width: 100%;
    background-color: #041D36;
}

.footer {
    height: 30px;
    width: 100%;
    background-color: #041D36;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.main {
    width: 69%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-left: 1em;
}

.profileImage {
    border-radius: 50%
}

.postInput {
    height: 100px;
    width: 63%;
}

.post {
    display: flex;
    margin-top: 2em;
}

.postDetails {
    margin-left: 1em;
    max-width: 50%;
}

.socialIcons {
    display: flex;
    justify-content: space-evenly;
}